.grid {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 30px;
  padding: 10px 20px;
}

.header {
  padding: 10px 30px;
  align-items: stretch;
}

/* Mobile */
@media (max-width: 575px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 12px;
    padding: 8px 0;
  }

  .header {
    padding: 8px 12px;
    gap: 12px;
  }
}
