.listbox {
  display: flex;
  gap: 20px;
}

.listbox > div:first-child {
  width: 20%;
}

.listbox > div:last-child {
  width: 80%;
}

@media (max-width: 475px) {
  .listbox {
    display: inline-block;
  }
}
